! special
*.foreground:   #c2c7c9
*.background:   #1e1e1e
*.cursorColor:  #c2c7c9

! black
*.color0:       #011b37
*.color8:       #878b8c

! red
*.color1:       #c67a64
*.color9:       #c67a64

! green
*.color2:       #42896b
*.color10:      #42896b

! yellow
*.color3:       #d0916a
*.color11:      #d0916a

! blue
*.color4:       #3d6c8c
*.color12:      #3d6c8c

! magenta
*.color5:       #219093
*.color13:      #219093

! cyan
*.color6:       #6d8f9e
*.color14:      #6d8f9e

! white
*.color7:       #c2c7c9
*.color15:      #c2c7c9