! special
*.foreground:   #bfc6c6
*.background:   #172228
*.cursorColor:  #bfc6c6

! black
*.color0:       #172228
*.color8:       #858a8a

! red
*.color1:       #c88676
*.color9:       #c88676

! green
*.color2:       #346a87
*.color10:      #346a87

! yellow
*.color3:       #5f7790
*.color11:      #5f7790

! blue
*.color4:       #468c96
*.color12:      #468c96

! magenta
*.color5:       #6f918e
*.color13:      #6f918e

! cyan
*.color6:       #6c949a
*.color14:      #6c949a

! white
*.color7:       #bfc6c6
*.color15:      #bfc6c6